.navbar {
    background-color: black;
}

.navbar-brand {
    padding: 10px;
}

h2 {
    font-family: 'Oswald', sans-serif;    
    padding-bottom: 5px;
    position: relative;
    font-weight: lighter;
    margin-bottom: 40px;
}

.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    color: #543019;
}

.navbar-collapse {
    text-align: center;
}

#navBorder {
    margin: 20px;
    border: solid 1px #f2f0eb;
}


.site-footer {
    position:relative;
    bottom:0;
    width:100%;
    height:120px;
    background:#000000;
    border-top: solid 3px #f2f0eb;
    background-position:bottom;
}

.structure {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#section-1 {
    background-image: url(../img/about_bg.jpg);
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    color: #543019;
}

#section-2 {
    background-image: url(../img/menutile2.png);
    background-repeat: repeat;
    height: auto;
    color: #f2f0eb;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    border-top: #f2f0eb solid 10px;
}

#menuPics {
    margin: auto;
    margin-top: 15px;
    display: block;
    height: 250px;
    border: #f2f0eb solid 4px;
    border-radius: 10px;
}

#menuTags {
    color: #f2f0eb;
    display: block;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}

.bi-chevron-compact-right {
    color: black;
    height: 1000px;
}

.bi-chevron-compact-left {
    color: black;
    height: 1000px;
}

.img-thumbnail {
    color: #f2f0eb;
}

#aboutImg {
    border: #f2f0eb solid 5px;
    border-radius: 15px;
}

#about1:after {
    content: "";
    height: 1px;
    width: 5%;
    background-color: #000000;
    position: absolute;
    bottom: -.05em;
    left: 50%;
    transform: translate(-50%);
  }

  #menu1:after {
    content: "";
    height: 1px;
    width: 5%;
    background-color: #f2f0eb;
    position: absolute;
    bottom: -.05em;
    left: 50%;
    transform: translate(-50%);
  }

  #reservations1:after {
    content: "";
    height: 1px;
    width: 8%;
    background-color: #543019;
    position: absolute;
    bottom: -.05em;
    left: 50%;
    transform: translate(-50%);
  }

  #contact1:after {
    content: "";
    height: 1px;
    width: 6%;
    background-color: #000000;
    position: absolute;
    bottom: -.05em;
    left: 50%;
    transform: translate(-50%);
  }

  #section-3 {
    background-image: url(../img/res_bg2_export.jpg);
    height: auto;
    color: #543019;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Oswald', sans-serif;
    border-top: #f2f0eb solid 10px;
    font-weight:lighter
    
}

.submitButton {
    background-color: #543019;
    color: #f2f0eb;
    position: absolute;
    right: 16px;  
}

.reviewImgs {
    padding: 15px;
}

.submitButton:hover {
    background-color: #abcfe6;
}

#menuTags:hover {
    color: #abcfe6;
    text-decoration: none;
}

.nav-link:hover {
    color: #abcfe6;
}

#section-4 {
    background-image: url(../img/Contact_BG.jpg);
    border-top: #f2f0eb solid 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}